html,
body {
  font-family: 'Baloo Tamma', cursive;
  padding: 20px;
  background: #2196f3;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
