.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

/* Header/Blog Title */
.header {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0px #2196f3,
    3px 3px 0px #2196f3,
    6px 6px 0px #0d47a1;
}

/* filter */
.filter {
  text-align: center;
  /* background: white; */
  font-size: 30px;
  width: 100%;
}

.filterTitle {
  margin-bottom: 0;
  color: white;
  text-shadow: -1px -1px 0px #2196f3,
  1px 1px 0px #2196f3,
  3px 3px 0px #0d47a1;
}

.filterList {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.cardActive {
  border-top: 10px solid green;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.cardNonActive {
  border-top: 10px solid red;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.points {
  float: right;
  font-size: 16px;
}

.animals {
  background-color: rgb(166, 245, 199);
  color: rgb(0, 145, 60);
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  padding: 2px 7px;
  margin-right: 5px;
  text-transform: capitalize;
}

.buttonStyle {
  box-shadow: -1px -1px 0px #2196f3,
  1px 1px 0px #2196f3,
  3px 3px 0px #0d47a1;
  font-family: 'Baloo Tamma', cursive;
  background-color: white;
  color:#2196f3;
  padding: 2px 6px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.buttonStyle:hover {
  box-shadow: -1px -1px 0px #44f321,
  1px 1px 0px #44f321,
  3px 3px 0px #10be76;
  font-family: 'Baloo Tamma', cursive;
  background-color: white;
  color:#02814c;
  padding: 2px 6px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.buttonStyle:active {
  transform: translateY(1px);
}

.expandStyle {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}